[project]
	description = Some C/shell/Ruby source code for practice
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/fxp2001640
[access "refs/for/refs/*"]
	read = group user/fxp2001640
	push = group user/fxp2001640
	label-Code-Review = -2..+2 group user/fxp2001640
	label-Verified = -1..+1 group user/fxp2001640
	rebase = group user/fxp2001640
	removeReviewer = group user/fxp2001640
	submit = group user/fxp2001640
[access "refs/heads/*"]
	read = group user/fxp2001640
	create = group user/fxp2001640
	push = +force group user/fxp2001640
	pushMerge = group user/fxp2001640
[access "refs/tags/*"]
	push = +force group user/fxp2001640
	pushTag = group user/fxp2001640
	pushSignedTag = group user/fxp2001640
